head
  title #{title}
  meta(charset="UTF-8")
  link(href="/libs/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen")
  script(src="/libs/bower_components/jquery/dist/jquery.min.js")
  script(src="/libs/bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script.
    const socket = io.connect(window.location.host);
